.idea
kanban-backend/kanban-backend/obj
kanban-backend/kanban-backend.Application/obj
kanban-backend/kanban-backend.Domain/obj
kanban-backend/kanban-backend.Infrastructure/obj
kanban-backend/kanban-backend/bin
kanban-backend/kanban-backend.Infrastructure/bin
kanban-backend/kanban-backend.Domain/bin
.DS_Store
kanban-backend/kanban-backend.Application/bin
